<html>
	<head>
		<link rel="stylesheet" href="resources/schedule/style.css">
	</head>
	<body>
		<div id="menu">
			<div id="header">OG ORGANIZER</div>
			<a>Settings</a>
			<a href="{{ account_link }}">
				{% if logged_in %} Logout
				{% else %} Login
				{% endif %}
			</a>

			<a href="javascript:openModal();">New Task</a>
		</div>
		<table id="schedule">
			<th>Task</th>
			<th>Start</th>
			<th>End</th>
			{% for task in tasks %}
				<tr>
					<td class="taskTitle">{{ task.title }}</td>
					<td class="taskStart">{{ task.start }}</td>
					<td class="taskEnd">{{ task.end }}</td>
				</tr>
			{% endfor %}
		</table>
		<div id="new_task_popup" class="shadow">
			<div class="modal-content">
				<div class="title">
					<span id="close">&times;</span>
					<h2>New Task</h2>
				</div>
				<div class="popup">
					<form id="newTaskForm" action="/createTask" method="POST" 
						<!-- onsubmit="closeModal(); return false;" -->
					>
						Name: <input type="text" name="title"><br>
						Start: <input id="datetime1" type="datetime-local" name="start"><br>
						End: <input id="datetime2" type="datetime-local" name="end"><br>
						<input type="submit" value="Schedule Task">
					</form>
				</div>
			</div>
		</div>
		<script src="/resources/schedule/script.js"></script>
	</body>
</html>