<html>
	<head>
		<link rel="stylesheet" href="resources/schedule/style.css">
	</head>
	<body>
		<div id="menu">
			<div id="header">OG ORGANIZER</div>
			<a>Settings</a>
			<a href="{{ account_link }}">
				{% if logged_in %} Logout
				{% else %} Login
				{% endif %}
			</a>

			<a href="/createTask">New Task</a>
		</div>
		<table id="schedule">
			<th>Task</th>
			<th>Start</th>
			<th>End</th>
			{% for task in tasks %}
				<tr>
					<td class="taskTitle">{{ task.title }}</td>
					<td class="taskStart">{{ task.start }}</td>
					<td class="taskEnd">{{ task.end }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>